<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>PDP</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static\img\favicon.png" rel="icon">
  <link href="static\img\apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static\vendor\aos\aos.css" rel="stylesheet">
  <link href="static\vendor\bootstrap\css\bootstrap.min.css" rel="stylesheet">
  <link href="static\vendor\bootstrap-icons\bootstrap-icons.css" rel="stylesheet">
  <link href="static\vendor\boxicons\css\boxicons.min.css" rel="stylesheet">
  <link href="static\vendor\glightbox\css\glightbox.min.css" rel="stylesheet">
  <link href="static\vendor\swiper\swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static\css\style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Day - v4.8.0
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">info@pdp.lk</a>
        <i class="bi bi-phone-fill phone-icon"></i> +94 71 7750277
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <a href="{{ url_for('index') }}" class="btn-get-started scrollto" type="submit" name="gen_report" value="upload_form" id="sub"><h1 class="logo">Poultry Disease Prediction Report</h1></a>
      <!-- <h1 class="logo"><a href="index.html">Poultry Disease Prediction Report</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Sorry, Your Live Stock have </h1> <h1 style="color:rgb(192, 20, 20);">{{disease}}</h1>
      <h2>with the Confidence Score of {{confidence_score}}%</h2>
      <h2>Please follow the Below Information</h2>
    </div>

    <div>
  </section> 
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{{path}}" width="400" 
            height="500" alt="" >
            <!-- <img src="static/img/about.jpg" class="img-fluid" alt=""> -->
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <p class="fst-italic">
            <h3>About the Coccidiosis Disease</h3>
            <p>Coccidiosis is a parasitic disease of the intestinal tract of poultry that is caused by protozoan parasites of the genus
               Eimeria. This disease is of worldwide occurrence and every year costs the poultry industry many millions of dollars to control. 
              The parasites have an oral-fecal life cycle with no intermediate host and, depending upon the extent of exposure and environmental 
              factors, can cause extensive morbidity and mortality. Coccidiosis is primarily a disease of young birds but can occur in older
               stock if they have not acquired immunity to infection. Unfortunately, there is little research on the effects of coccidiosis
                in birds used for consumer egg production or broiler breeders.  </p> 
            <p>The emphasis of control strategies, especially in birds reared to produce eggs, has been to provide protection to young 
              chicks while allowing them to acquire immunity that will protect them in later life. These strategies can be achieved by 
              chemotherapy or vaccination.Coccidia is a protozoal disease. Despite there being many different strains of this protozoa 
              each individual one is very species specific. This means that pheasant coccidia strains will not infect partridges 
              and vice versa. </p>
              <p>Fecal material can be taken to an animal diagnostic laboratory. Oocysts are easily seen under the light microscope. If there 
                are dead animals, they can also be taken to the laboratory. An experienced poultry veterinarian can usually diagnose 
                coccidiosis upon visual inspection of the intestines.Coccidiosis is caused by protozoan parasites from the genus Eimeria.
                 These parasites are host-specific, and many species occupy a specific segment of the intestinal tract. 
                 Coccidiosis may be one of the most common diseases affecting small flocks around the world, causing loss in performance 
                 and even mortality. This disease can be complicated by bacterial agents such as Clostridium perfringens. Vaccination, 
                 preventative medication, and good management practices can help control the disease.</p>
                 <p>Coccidiosis occurs worldwide. It is especially prevalent in high-density flocks and in flocks where animals 
                  have direct contact with their feces. Virtually every poultry flock raised on litter is affected by coccidiosis
                   to some degree. Birds love to peck the floor and in doing so, they ingest the oocytes (parasite eggs) that 
                   are present in the manure of infected birds. Birds in backyard flocks are often not provided with enough bedding 
                   material in the coop. The more contact the animals have with fecal material, the greater the chance for them to 
                   develop serious coccidiosis.Following ingestion, the parasite undergoes its complex life cycle within the 
                   intestinal tract, during which it replicates and ruptures the intestinal cells. The infected animal then sheds
                    oocysts in the feces. After a few intestinal cycles of the parasite, birds can develop long-lasting protective 
                    immunity, but this immunity is specific to the particular species of coccidia. Challenge with a different species 
                    will lead to infection and disease, depending on the number of oocysts consumed.</p>
                    <p>Animals raised in cages with no contact with fecal material do not develop the disease. However, 
                      it is important to note that if caged animals have access to manure (due to poor design or lack of maintenance of the cages), 
                      the disease will develop.</p>
                      
           <h4>Clinacal Symptoms</h4>
                  <p>
                    Post-mortem: enteritis, watery intestinal contents, caecal cores.<br>
                    Microscopy: intestinal scrapes inspected under the microscope to identify coccidial oocysts.<br>
                    Faecal oocyst count: oocyst flotation from a pooled sample of faeces. <br>
                    Whitish comb, Blood Diarrhoea, Bloody or watery, Decrease in egg production <br>

                    Under heavy infections, birds may appear depressed with ruffled feathers. Diarrhea and dehydration may be present. Blood (Figure 1)
                     and/or clear to bright orange mucus (Figures 2 and 3, respectively) may be present in the feces. The skin of the affected birds may
                      appear pale in comparison to unaffected birds. Body weight and feed conversion may also be affected in heavy infections with more 
                      pathogenic strains of coccidia.

                  </p>
                  <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                    <img src="static\img\Coccidioss\cocci chieckn 1 week age .jpg" width="400" 
                    height="400" alt="" >
                  </div>           
            </p>
            <h3>Treatments and Medicine</h3>
            <h4>Anticoccidial treatments:</h4>
            <p><ul>
              <li><i class="bx bx-chevron-right"></i> Baycox Oral Solution , Anticoccidial drug</li>
              <figure>
                <img src="static\img\Coccidioss\anticoccidiosis drug .jpg" width="400" 
                height="400" alt="" >
                <figcaption>Anticoccidial drug</figcaption>
              </figure>
              <figure>
                <img src="static\img\Coccidioss\Baycox.jpg" width="400" 
                height="400" alt="" >
                <figcaption>Baycox drug</figcaption>
              </figure>
              <li><i class="bx bx-chevron-right"></i> Toltrazuril for two days (Baycox, Zorabel)</li>
              <li><i class="bx bx-chevron-right"></i> Amprolium for seven days (Coccoidal, Amproline),</li>
              <li><i class="bx bx-chevron-right"></i> In severe cases, this may require concurrent antibiotic therapy to settle a bad dysbacteriosis</li>
              <li><i class="bx bx-chevron-right"></i> There is only one licensed coccidiostat drug for game birds, Lasolocid acid (Avatec)</li>
              <li><i class="bx bx-chevron-right"></i> Birds can be treated with    Baycox (Toltrazuril) in water for 2 days , Treatment AMPROLIUM,Treatment
                 DECOQUINATE,Treatment LASALOCID,Treatment MONENSIN</li>
              <li><i class="bx bx-chevron-right"></i> Anticoccidial medications can be used in conventional poultry production (not organic poultry production)
                 and commonly are added to poultry feed to prevent coccidiosis. </li>
              </ul></p>
              <p>Anticoccidial medications used in poultry feeds include the following examples:
                <br>
                <ul>
              <li><i class="bx bx-chevron-right"></i> amprolium (e.g., Amprol, Corid)</li>
              <li><i class="bx bx-chevron-right"></i> decoquinate (e.g., Deccox)</li>
              <li><i class="bx bx-chevron-right"></i> diclazuril (e.g., Clinacox)</li>
              <li><i class="bx bx-chevron-right"></i> halofuginone hydrobromide (e.g., Stenorol)</li>
              <li><i class="bx bx-chevron-right"></i> lasalocid (e.g., Avatec)</li>
              <li><i class="bx bx-chevron-right"></i> monensin (e.g., Coban)</li>
              <li><i class="bx bx-chevron-right"></i> narasin (e.g., Monteban)</li>
              <li><i class="bx bx-chevron-right"></i> nicarbazin (e.g., Nicarb 25%)</li>
              <li><i class="bx bx-chevron-right"></i> salinomycin (e.g., Bio-Cox, Sacox)</li>
              <li><i class="bx bx-chevron-right"></i> semduramicin (e.g., Aviax)</li>
              <li><i class="bx bx-chevron-right"></i> sulfadimethoxine and ormetoprim 5:3 (e.g., Rofenaid)</li>
              <li><i class="bx bx-chevron-right"></i> Coccidiostats in feed:These products help birds to develop natural immunity to coccidia 
                as they age. The drugs restrict coccidia metabolism so that only a low level is maintained in the birds.
                 Therefore immunity is generated more swiftly without the catastrophic damage a clinical outbreak can have 
                 on bird growth and wellbeing,However, in time the resident population of coccidia on a site will become 
                 resistant to the coccidiostat and will no longer have an effect.</li>
              <li><i class="bx bx-chevron-right"></i> Rotating paddocks/fields or where housing is placed. Coccidia is a very
                 resilient parasite and will survive for over a year in soil and in housing. Turning the soil can also help,
                 Thorough cleaning and disinfection of housing with a product that specifies action against coccidial oocysts 
                 (as most products will have no effect),Power wash all dirt and dust off equipment and housing,Use a detergent 
                 to wash the remaining muck off, pay particular attention to gaps and hard to reach places,Allow equipment to
                  dry before applying the disinfectant,Use a disinfectant to cover all equipment and housing and allow for
                   contact time as advised on bottle, eg. Interkokask or Bi-OO-cyst,Power wash all dirt and dust off equipment 
                   and housing,Allow equipment to dry before applying the disinfectant,Use a disinfectant to cover all equipment
                    and housing and allow for contact time as advised on bottle, eg. Interkokask or Bi-OO-cyst.</li>

            </ul> </p>
            

            <h4>Treatments:</h4>
            <p>Treatment should be reserved for sick animals. Medicating birds at the wrong time (too early or too often) will interfere with the development 
              of protective immunity. Do not use medicated feed during the first 14 days of life. If birds appear to be sick with coccidiosis after day 14, 
              the best option is to consult with a local veterinarian and to conduct a fecal flotation analysis. As an alternative, you can replace the regular 
              starter feed with medicated feed. Feed that is medicated with amprolium is commercially available and can be purchased without a veterinary 
              prescription. Read the label attached to the feed bag and make sure that the feed contains amprolium. Some of the "medicated" feeds contain 
              products other than amprolium which are not intended to treat coccidiosis (like probiotics).</p>
            <p>On hot days, birds tend to limit their feed consumption. For this reason, it is important that the animals receive only medicated feed.
               Any other feed supplementation will decrease the effective dose of amprolium.
              One of the easiest ways to control coccidiosis is to purchase vaccinated birds. Vaccines are given at the hatchery on the day of hatch.
               Once the animals have developed immunity, they will be resistant to the strains of coccidia used in the vaccine they received.
              Most backyard chickens are not vaccinated. In this case, the disease can be managed by modulating the level of exposure to the parasite.
               Fortunately, a reduction in parasite load is normally all it takes to control coccidia in your birds. The ingestion of a few parasites 
               is not a problem and actually helps birds to develop strong immunity against the parasite. The key is to prevent birds from consuming 
               a large number of parasites at once, because this will result in disease. </p>
               <p>
               This can be achieved with good management practices. Bird density and litter quality play a very important role in determining 
               parasite load in the chicken coop. Ideal bird density depends on the type of chicken you are raising and on your particular 
               circumstances and setup. As a rule of thumb, density is on target as long as the litter (bedding material) is kept in good condition
                (dry and fluffy). If the litter deteriorates too rapidly, you probably have a poor setup that does not support your current bird density.
                 A low bird density (>5 ft2 bird) is preferred in non-vaccinated animals to minimize the buildup of parasites in the litter. Do your best 
                 to keep your birds on a thick, dry layer of litter. This will effectively dilute the fecal material, resulting in a reduced number of 
                 coccidia ingested during litter pecking.
                 <br>
                 Wet litter usually cakes. Caked litter will keep fecal matter undiluted and in direct contact with the animals. Every time birds peck 
                 caked litter, chances are they will consume a lot of parasites. Two places where litter needs to be monitored frequently are around the 
                 feeders and around the waterers. Birds tend to spend a long time in these areas, thus the volume of their fecal matter is higher in these places.
                  During summer, this problem can be challenging because birds will be actively drinking water. More water will be spilled near the waterers
                   and fecal matter will have a high moisture content (due to the birds drinking much more water during hot days). In a small coop, one option 
                   is to move the feeders and waterers to a dry spot every day or so. Another strategy, more common in medium and large operations, is to 
                   remove the wet/caked litter material and replenish it with fresh material on a regular basis. 
            </p>
            <h4>Vaccination :</h4>
            <p>
            Coccidiosis vaccination <br>
            Live vaccine with drinking water <br>
            Vaccination, as a means of controlling coccidiosis, is an attractive alternative to prophylactic medication which is, inevitably, accompanied by the emergence of drug-resistant strains of the parasite. Until recently the only type of ‘vaccine’ commercially available (for chickens) consisted of wild-type, fully virulent organisms. Now there are two vaccines whose constituents have been attenuated by selection for abbreviated developmental cycles, or by adaptation to growth in developing chicken embryos. These are being successfully used in various types of flocks but, in view of their cost, are likely to be most useful for breeders and layers. The possibility of deriving live, attenuated strains suitable for vaccinating rabbits or sheep is being pursued.<br>
            Although live vaccines are effective, for reasons of cost, convenience (e.g. shelf-life) and safety, the ultimate goal of immunoprophylaxis for coccidiosis must be the availability of subunit vaccines, produced by recombinant DNA technology. Crude parasite extracts (primarily of sporozoites), given parenterally or orally, are capable of inducing protection against subsequent homologous challenge infection, but the results are influenced by the resistance phenotype of the host. Various purified candidate peptide antigens have afforded partial protection, either when given directly or via the hen.<br>
            Contains streptomycin and penicillin as bacteriostatic agents.<br>
            </p>
            <p>vaccination Dosage Charts</p>
            <div class="row">
              <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img src="static\img\cc_treat1.jpg" class="img-fluid"  width="400" 
                height="500" alt="">
              </div>
              <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                  <img src="static\img\cc_treat2.jpg" class="img-fluid"  width="400" 
                  height="500" alt="">
                </div>
              </div>
              </div>
          
            <h4>General Instructions</h4>
            
            <p>vaccination good sanitation, and implementation of a comprehensive biosecurity program</p>

          

      </div>
    </section><!-- End About Section -->

 
  </main><!-- End #main -->
 <section>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
       $(document).ready(function() {
          $('form').submit(function(event) {
             event.preventDefault();
             $.ajax({
                type: 'POST',
                url: '/feedback',
                data: $('form').serialize(),
                success: function() {
                   $('#feedback').val('');
                   alert('Thank You For Your Feedback!');
                }
             });
          });
       });
    </script>
  
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Please Give Us Your Feedback</h1>
      <form>
        <!-- <input type="text" name="assignment"> -->
        <!-- <input type="text" style="color: black;" feedback="feedback" placeholder="Your feedback" required class="btn-get-started scrollto">   -->
        <textarea class="form-control" style="color: black;" id="feedback" name="feedback"  rows="5" placeholder="We Welcome Your feedback" required></textarea>
        <input style="color: black;" type="submit" class="btn-get-started scrollto">
          
        </form>
    
    </form>
    </div>
  </section>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static\vendor\aos\aos.js"></script>
  <script src="static\vendor\bootstrap\js\bootstrap.bundle.min.js"></script>
  <script src="static\vendor\glightbox\js\glightbox.min.js"></script>
  <script src="static\vendor\isotope-layout\isotope.pkgd.min.js"></script>
  <script src="static\vendor\swiper\swiper-bundle.min.js"></script>
  <script src="static\vendor\php-email-form\validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static\js\main.js"></script>

</body>

</html>
