<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>PDP</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="static\img\favicon.png" rel="icon">
  <link href="static\img\apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="static\vendor\aos\aos.css" rel="stylesheet">
  <link href="static\vendor\bootstrap\css\bootstrap.min.css" rel="stylesheet">
  <link href="static\vendor\bootstrap-icons\bootstrap-icons.css" rel="stylesheet">
  <link href="static\vendor\boxicons\css\boxicons.min.css" rel="stylesheet">
  <link href="static\vendor\glightbox\css\glightbox.min.css" rel="stylesheet">
  <link href="static\vendor\swiper\swiper-bundle.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="static\css\style.css" rel="stylesheet">
</head>
<body>
  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">  
      </div>
    </div>
  </section>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <a href="{{ url_for('index') }}" class="btn-get-started scrollto" type="submit" name="gen_report" value="upload_form" id="sub"><h1 class="logo"><a href="index.html">Poultry Disease Prediction</a></h1>
      <!-- Uncomment below if you prefer to use an image logo --><!-- <a href="index.html" class="logo"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>
  </header><!-- End Header -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
	<style> 
	input[type=text] {
	  margin: 4px 0;
	}
	select {
   	 margin: 4px 0;
	}
	::selection {
	  color: red;
	  background: grey;
	}
	</style>
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Findout what Disease your Live Stock is having</h1><h2>Upload Image of Fecal Matter and Fill the Form</h2>   
      <form action="/submit" method="post" enctype="multipart/form-data">
        <!-- <input type="text" name="assignment"> -->
        <input type="file" name="file" class="btn-get-started scrollto" required = "true" accept="image/png, image/jpeg"><br>
        <input type="text" style="color: black;" name="name" placeholder="Your Name" required class="btn-get-started scrollto"><br>
        <input type="text" style="color: black;" name="address" placeholder="Your Address" required class="btn-get-started scrollto"><br>
    <select type="text" style="color: black;" name="poultry_breeding_type" id="poultry_breeding_type" required="true" class="btn-get-started scrollto">
	  <option type="text" style="color: black;" value="1">Commercial</option>
	  <option type="text" style="color: black;" value="2">Breeding Poultry</option>
	  <option type="text" style="color: black;" value="3">Back-Yard</option>
	  <option type="text" style="color: black;" value="4">Cross Breeding</option>
	  <option type="text" style="color: black;" value="0" selected>Select the Poultry Breeding Type</option>
	</select><br>
	<select type="text" style="color: grey;" name="poultry_animal_category" id="poultry_animal_category" required ='true' class="btn-get-started scrollto">
	  <option type="text" style="color: black;" value="1">Layers</option>
	  <option type="text" style="color: black;" style="color: grey;" value="2">Broilers</option>
	  <option type="text" style="color: black;" value="3">Layers and Broilers</option>
	  <option type="text" style="color: black;" value="0" selected>Select the Poultry animal Category</option>
	</select><br><br>
        <input style="color: black;" type="submit"  id="btnsubmit" class="btn-get-started scrollto">       
      </form>
    </form>
    </div>
    <div>
  </section> 
  <!-- End Hero -->
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="static\img\about.jpg" class="img-fluid" alt=""></div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Poultry Disease Prediction</h3>
            <p class="fst-italic">The Poultry Disease Predictor is a Computer Vision based Ai platform that automatically assesses the Disease of Your Live Stock by analysing the fecal matter images taken from the farm floor
            </p>
            <h4> Product Capabilities</h4><ul>
              <li><i class="bi bi-check-circle"></i> User uploaded images are instantly processed using an Ai engine and and a report detailing the Disease, a simple 
              explanation obout the disease, Treatments and medical instructions</li>
              <li><i class="bi bi-check-circle"></i> The advanced Ai algorithm let you decide which disease has been diagnosed to the live stock.</li>
              <li><i class="bi bi-check-circle"></i> The data is saved in a database for future model improvements.</li>
              <li><i class="bi bi-check-circle"></i> By following the Report a farmer can start the treatments or take measures accordingly. </li>
            </ul>
            <p>A state of the art Computer Vision based customized algorithm was trained to classify Three Live Stock Diseases
              with and can determine if healthy or not. A fullyy detailed report generated from the images can then be used by the farmers to do the treatments or action required.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
  </main><!-- End #main -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>
  <!-- Vendor JS Files -->
  <script src="static\vendor\aos\aos.js"></script>
  <script src="static\vendor\bootstrap\js\bootstrap.bundle.min.js"></script>
  <script src="static\vendor\glightbox\js\glightbox.min.js"></script>
  <script src="static\vendor\isotope-layout\isotope.pkgd.min.js"></script>
  <script src="static\vendor\swiper\swiper-bundle.min.js"></script>
  <script src="static\vendor\php-email-form\validate.js"></script>
  <!-- Template Main JS File -->
  <script src="static\js\main.js"></script>
</body>
</html>


