<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>PDP</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="static\img\favicon.png" rel="icon">
  <link href="static\img\apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="static\vendor\aos\aos.css" rel="stylesheet">
  <link href="static\vendor\bootstrap\css\bootstrap.min.css" rel="stylesheet">
  <link href="static\vendor\bootstrap-icons\bootstrap-icons.css" rel="stylesheet">
  <link href="static\vendor\boxicons\css\boxicons.min.css" rel="stylesheet">
  <link href="static\vendor\glightbox\css\glightbox.min.css" rel="stylesheet">
  <link href="static\vendor\swiper\swiper-bundle.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="static\css\style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Day - v4.8.0
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>
  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">       
      </div>
    </div>
  </section>
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <a href="{{ url_for('index') }}" class="btn-get-started scrollto" type="submit" name="gen_report" value="upload_form" id="sub"><h1 class="logo">Poultry Disease Prediction Report</h1></a>
    </div>
  </header>
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Sorry, Your Live Stock have, </h1> <h1 style="color:rgb(192, 20, 20);">{{disease}}</h1>
      <h2>With the Accuracy Score of {{confidence_score}}%</h2>
      <h2>Please Follow the Below Information</h2>
    </div>
    <div>
  </section> 
  <main id="main">
    <section id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{{path}}" width="400" 
            height="500"  alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <p class="fst-italic">
            <h3>About the New Castle Disease</h3>
            <p>Newcastle disease (ND) is an infection of domestic poultry and other bird species with 
            virulent Newcastle disease virus (NDV). Newcastle Disease is not a Food safety or public 
            health concern. Virulent NDV is capable of producing a devastating disease in domestic
            fowl, with vast social and Economic Consequences. It is a worldwide problem that presents
            primarily as an acute respiratory disease; however, depression, nervous signs, or diarrhea
            may be the predominant clinical form. </p> 
            <p>The highly contagious and lethal form of Newcastle disease is known as microtropia 
            (attacks the internal organs) velogenic Newcastle disease, VVND, exotic Newcastle disease,
            or Asiatic Newcastle disease. VVND is not present in the United States poultry industry at 
            this time.</p></p>
            <h3>Treatments and Medicine</h3>
            <h4>Medicine : Oral Deworming Tablets</h4>
            <p>There is no specific treatment for Newcastle disease. Antibiotics can be given for 3–5 days
               to prevent secondary bacterial infections (particularly E. coli ). For chicks, increasing the brooding 
               temperature 5°F may help reduce losses. </p>
            <p>No Medication has been shown to impact the course of virulent Newcastle disease virus infection, and treatment
               with antivirals is not recommended. In cases of flocks affected by loNDV, supportive care with antimicrobials 
               against secondary infections may alleviate clinical signs and decrease morbidity and mortality. Prevention of
                Newcastle disease is achieved through biosecurity and vaccination.</p>               
                <figure><img src="static\img\Newcastle disease\deworming tablets .png" width="400" height="400" alt="" >
                  <figcaption>poultry Deworming Tablets</figcaption>
                </figure>
            <h4>Medicine : Vaccination Methods:</h4>
            <p>Newcastle Disease lentogenic : Lentogenic (B1) strain live ,freeze dried vaccine is recommended for active immunization
               of different age group chicks and layer flocks in production against field strains of Newcastle disease virus Infection </p>
            <p>(La sota)/B1 : Age 6th day-21st Day or Age 7-8 weeks.
              <ul>
                <li><i class="bx bx-chevron-right"></i>Spray Method</li>
                <li><i class="bx bx-chevron-right"></i>Eye Drop method</li>
                <li><i class="bx bx-chevron-right"></i>Intra ocular/Nasal instillation/Drinking water method</li>
                <li><i class="bx bx-chevron-right"></i>Subcutaneous /Intramuscular route</li>
                <li><i class="bx bx-chevron-right"></i>Repeat every 8-10 weeks through drinking water method</li>
                <li><i class="bx bx-chevron-right"></i>With drinking water (Oral).Droplet size is important when spraying and the quantity of water consumed is important in the drinking water method.</li>
              </ul>
            </p>
            Newcastle Disease Mesogenic (R2B /Mukteswar)<br>
            Newcastle disease lentogenic(La Sota)<br>
            Killed vaccine: there 2 types . (Age 16-18 weeks) - It can destroy antigenic determinants against which no antibodies will be produced.
               Use to stimulate anti body production. Protection starts after 7-10 days.<br>
              <ul>
                <li><i class="bx bx-chevron-right"></i>Subcutaneous method</li>
                <li><i class="bx bx-chevron-right"></i>Intramuscular method</li>
              </ul>
            </p>
            <h4>Vaccination :</h4><p>
            Newcastle Disease Vaccine (LaSota Strain) Indications <br>
            The vaccine contains the LaSota strain of Newcastle disease virus. The virus has been propagated in fertile eggs from <br>
            specific pathogen free flocks. The immunizing capability of the vaccine has been proven by the master seed immunogenicity test.<br>
            The vaccine offers proven immunity with mild reactions.<br>
            Contains streptomycin and penicillin as bacteriostatic agents.<br>
            Contains fungizone as a fungistatic agent.<br>
            The vaccine is recommended for administration to healthy chickens as an aid in the prevention of Newcastle disease.<br>
            The vaccine is recommended for the vaccination of healthy chickens 14 days of age or older by drinking water administration<br>
            or by aerosol spray. Spray vaccination is recommended for revaccination only. Revaccination is recommended at four weeks and 16 weeks of age.<br></p>
              <h4>Newcastle Disease Vaccine (LaSota Strain) Dosage And Administration</h4>
              <p>Freeze-dried Vaccine: <br>
              Directions for Drinking Water Vaccination:<br>
              1. Do not open and mix the vaccine until ready to vaccinate.<br>
              2. Remove all medication, sanitizers and disinfectants from the drinking water 72 hours prior to vaccination.<br>
              3. Provide sufficient waterers so that all of the birds can drink at one time. Clean and rinse the waterers thoroughly.<br>
              4. Withhold all water from the birds for two (2) to four (4) hours prior to vaccination to stimulate thirst.<br>
              5. Add nonfat dry milk to the water at the rate of one (1) ounce per gallon before mixing the vaccine.<br>
              6. Remove the aluminum seal and rubber stopper from a vaccine vial.<br>
              7. Fill the vaccine vial two-thirds (2/3) full with clean, cool water and mix gently.<br>
              8. Mix the dissolved vaccine with water as shown<br>
              9. Distribute the vaccine solution among the waterers. Avoid direct sunlight.<br>
              10. Do not provide any other drinking water until all of the vaccine mixture has been consumed.<br>
              Spray Aerosol Vaccination: Use only for revaccination of healthy chickens two (2) weeks of age or older. Do not use for initial vaccination.<br>
              Use a sprayer delivering an aerosol-like mist to disperse the rehydrated vaccine quickly and evenly throughout a house of chickens.<br>
              Directions:<br>
              1. Remove the aluminum seal and rubber stopper from the vaccine vial.<br>
              2. Fill the vaccine vial full with cool, distilled water. Pour the dissolved vaccine into a container and add approximately 500 mL of cool, distilled water per 5,000 doses of vaccine. Mix thoroughly.<br>
              3. For spray aerosol vaccination of a house of chickens, apply at the rate of 500 mL per 5,000 chickens.<br>
              4. Example: 20,000 birds will require 2,000 mL (approximately 2 quarts) of rehydrated vaccine.<br>
              5. Place the vaccine solution into the sprayer canister, set the discharge control and walk through the house spraying at the rate of 1,000 birds per minute. Direct the spray above the heads of the birds.<br>
              6. Whatever volume of vaccine solution is used, take care to administer 5,000 doses of vaccine to 5,000 birds.<br>
              7. Prior to spraying, reduce the air flow to a minimum. Keep air flow reduced for 20 minutes following spray vaccination.<br>
              8. Avoid direct contact with the vaccine solution. Wear goggles and a mask while spraying a live virus vaccine.<br>
              9. Any equipment used for the application of a live virus vaccine should not be used for any other purpose.<br>
              </p>
            <h4>General Instructions</h4>
            <p>vaccination good sanitation, and implementation of a comprehensive biosecurity program</p>
          </div>
        </div>
      </div>
    </section>
  </main>
 <section>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
       $(document).ready(function() {
          $('form').submit(function(event) {
             event.preventDefault();
             $.ajax({
                type: 'POST',
                url: '/feedback',
                data: $('form').serialize(),
                success: function() {
                   $('#feedback').val('');
                   alert('Thank You For Your Feedback!');
                }
             });
          });
       });
    </script> 
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Please Give Us Your Feedback</h1>
      <form><!-- <input type="text" name="assignment"> --><!-- <input type="text" style="color: black;" feedback="feedback" placeholder="Your feedback" required class="btn-get-started scrollto">   -->
        <textarea class="form-control" style="color: black;" id="feedback" name="feedback"  rows="5" placeholder="We Welcome Your feedback" required></textarea>
        <input style="color: black;" type="submit" class="btn-get-started scrollto"></form>   
    </form>
    </div>
  </section>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>
  <!-- Vendor JS Files -->
  <script src="static\vendor\aos\aos.js"></script>
  <script src="static\vendor\bootstrap\js\bootstrap.bundle.min.js"></script>
  <script src="static\vendor\glightbox\js\glightbox.min.js"></script>
  <script src="static\vendor\isotope-layout\isotope.pkgd.min.js"></script>
  <script src="static\vendor\swiper\swiper-bundle.min.js"></script>
  <script src="static\vendor\php-email-form\validate.js"></script>
  <script src="static\js\main.js"></script>
</body>
</html>
